# Environment files
.env

# Database files
*.db
*.sqlite
*.sqlite3

# Python cache & virtual environments
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Testing & logs
.pytest_cache/
logs/*.log

# IDE files
.vscode/
.idea/
